// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #354a54;
$gray-900: #172d29;
$black: #1f1f1f;

$blue: #00afde;
$dark-blue: #00335a;
$indigo: #866abc;
$purple: #9e4c98;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #f9f871;
$green: #00624f;
$teal: #62e9a8;
$cyan: #00c6db;
$box-shaddow: rgba(53, 74, 84, 0.3);

$primary: $blue;
$secondary: $gray-800;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $black;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
);

$body-bg: $gray-100;
$body-color: $gray-800;
$link-color: $primary;
$link-decoration: none;

$navbar-light-color: rgba($black, 0.55);
$navbar-light-hover-color: rgba($blue, 0.7);
$navbar-light-active-color: rgba($blue, 0.9);

$display-font-sizes: (
  1: 5rem,
  2: 3rem,
  3: 2.5rem,
  4: 2rem,
  5: 1.75rem,
  6: 1.5rem,
);

$font-size-base: 1.5rem;
$lead-font-size: $font-size-base * 1.2;
$navigation-font-size: $font-size-base;
$card-title-font-size: $font-size-base * 2;
