@import "variables";

.about {
  background: $gray-200;
  min-height: 50vh;

  &Title {
    background: url("/images/About.webp");
    background-size: cover;
    background-position: right;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-weight: 900;
  }

  &Text {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  &Description {
    color: $gray-900;
    background-color: $gray-400;
    font-size: $lead-font-size;
    padding-left: 2em;
  }
}
