@import "variables";

.footer {
  background-color: $black;
  padding: 2em 0 1.5em;
  color: $gray-200;
  font-size: 0.7em;
}
.socialLinks {
  &:not(:first-of-type)::before {
    content: "/";
    color: rgba($gray-200, 0.4);
  }

  a {
    color: $gray-200;
    margin: 0 1em;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}
