@import "variables";
@import "bootstrap/scss/mixins";

.services {
  position: relative;

  &Row {
    position: absolute;

    @include media-breakpoint-up(md) {
      position: relative;
    }
  }

  .service {
    box-shadow: 6px 6px 15px 0 $box-shaddow;
    margin-bottom: 1.5rem;
    top: -6em;

    @include media-breakpoint-down(md) {
      top: 1em;
    }

    &Name {
      padding: 0;
      margin: 0;
      background: $primary;
      opacity: 0.85;
      color: $white;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
    }

    &Description {
      color: $gray-900;
    }
  }
}
